<div class="controls">
  <label for="password-check">Your password:</label>
  <input type="text" id="password-check" name="password-check"
         placeholder="Type your password to check its strength..." [(ngModel)]="passwordTextField">
</div>
<div class="sections">
  <div class="section section--1" [ngStyle]="{'background-color': firstSectionColor}">
    Easy
  </div>
  <div class="section section--2" [ngStyle]="{'background-color': secondSectionColor}">
    Medium
  </div>
  <div class="section section--3" [ngStyle]="{'background-color': thirdSectionColor}">
    Strong
  </div>
</div>
<h2 class="verdict">
  Your password is {{passwordStrength}}
</h2>



