.controls {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.controls > label {
  font-size: 30px;
}

.controls > input {
  width: 300px;
  padding: 10px;
}

.controls> input:focus {
  outline: none;
  box-shadow: 0 0 50px #ccc;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0 0 0;
}

.section {
  width: 300px;
  height: 50px;
  background: lightgray;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
}

.verdict {
  margin: 2rem 0 0 0;
  text-align: center;
}
